
# Eclipse files
.metadata/
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
/target/
/build/

# IDE
*.classpath
*.project
.settings/

# Node (if any frontend)
node_modules/
# Angular
node_modules/
.angular/
dist/

# Logs
npm-debug.log

# OS files
.DS_Store

# IDE
.vscode/